<html lang="pt-br">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:4200/">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/app/livro/">Livros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/app/cliente/">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/app/listaemprestimo/">Emprestimo</a>
          </li>
      </ul>
    </div>
  </nav>  
  
    
  <style>
    h6{
      color: #000000cb;
      font-weight: bold;
      background-color:#08fa00cb;
      align-items: center;
    }
    h5{
      font-weight: bold;
    }
  </style>
    
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-13 mx-auto">
                <div class="card rounded-0 border-0 shadow">
                    <div class="card-body p-5">
                        
                        <!--  Bootstrap table-->
                        <div class="table-responsive">
                            <h1 align="center"> Lista de Livros </h1>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Titulo</th>                          
                                        <th scope="col">Autor</th>
                                        <th scope="col">Ano de Lançamento</th>
                                        <th scope="col">Gênero</th>
                                        <th scope="col">Editora</th>
                                        <th scope="col">Códigos</th>
                                        <th scope="col">Status</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let livro of livros">
                                        <td>{{livro.Titulo}}</td>                                        
                                        <td>{{livro.Autor}}</td>
                                        <td>{{livro.AnoLancamento}}</td>
                                        <td>{{livro.Genero}}</td>
                                        <td>{{livro.Editora}}</td>
                                        <td><h5>{{livro.Codigo}}</h5></td>
                                        <td><h6>{{livro.Status}}</h6></td>

                                        <td><a routerLink="../../app/cadastrarlivro/{{livro._id}}" class="btn btn-primary rounded-0 btn-block" > Alterar</a></td>
                                        <td><a routerLink="../../app/deletarlivro/{{livro._id}}" class="btn btn-primary rounded-0 btn-block"> Deletar</a></td>
                                        <td><a routerLink="../../app/fazeremprestimo/{{livro._id}}" class="btn btn-primary rounded-0 btn-block"> Emprestar</a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
    
                        <!-- Add rows button-->
                        <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="http://localhost:4200/app/cadastrarlivro/">Cadastrar livro</a>
                        <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="http://localhost:4200/app/listaemprestimo/">Lista de Livros Emprestados</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>






